/* Stylesheet for katiearbuckle.com */

body {
	background-image: url("../images/Binary-Gray.jpg");
	background-attachment: fixed;
	font-family: Ubuntu, sans-serif;
}

div {
	box-shadow: 10px 10px 10px #888888;
}

#spacer {
	height: 75px;
	box-shadow: none;
}

#header {
	background-color: #00CED1;
	color: white;
	padding: 10px 40px 10px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

#name {
	font-family: 'Fredericka the Great', cursive;
	font-size: 40px;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#title {
	font-size: 20px;
}

h3 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
	font-weight: normal;
}

div div {
	box-shadow: none;
}

#about {
	background-color: #808080;
	color: white;
	text-align: right;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

#skills {
	background-color: #9ACD32;
	color: white;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

#projects {
	background-color: #69D2E7;
	color: white;
	text-align: right;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: #808080;
}

#experience {
	background-color: #800080;
	color: white;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

#education {
	background-color: #DAA520;
	color: white;
	text-align: right;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

#hobbies {
	background-color: #6B8E23;
	color: white;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-left: -20px;
}

#contact {
	background-color: #008080;
	color: white;
	text-align: right;
	padding: 10px 40px 20px 40px;
	margin-right: -20px;
	margin-bottom: 20px;
	margin-left: -20px;
}